.about-content {
  padding: 2rem;
  background-color: #0a1a2f;
  color: #e6e6e6;
  line-height: 1.7;
}

.about-header {
  text-align: center;
  margin-bottom: 2rem;
}

.about-header h1 {
  font-size: 2rem;
  color: #0059ff;
}

.about-header span {
  color: #00b7ff;
}

.about-body {
  max-width: 800px;
  margin: 0 auto;
}

.about-body h2 {
  color: #0059ff;
  margin-top: 1.8rem;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
}

.about-body p {
  color: #e6e6e6 !important;
}

.about-body ul {
  list-style: disc;
  padding-left: 25px;
  color: #e6e6e6 !important;
}

.about-body li {
  margin-bottom: 0.5rem;
  color: #e6e6e6 !important;
}

.about-body li strong {
  color: #0059ff;
}

.about-footer {
  text-align: center;
  margin-top: 2rem;
}



